@use '../../../../colors';

:host {
    overflow-y: hidden;
    width: 100%;
}

.content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
}

.menu {
    background-color: colors.$primary-main;
    min-width: 18rem;
    width: 100%;
}

.list-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searching {
    border-radius: 1rem;
    width: 70%;
    padding: 1rem;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 5px #b9b5ff;

    input {
        font-size: 18px;
        background-color: transparent;
        height: 3rem;
        padding: 0;
        margin-left: 1rem;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 2px solid #b9b5ff;
    }

    button {
        width: 8rem;
        font-size: 18px;
        background-color: transparent;
        height: 5rem;
        padding: 0;
        margin: 0;
        border-radius: 1rem;
        border: 2px solid #b9b5ff;
        color: #665bf0;
    }

    input:focus {
        outline: none;
    }

    button:hover {
        background-color: #b9b5ff;
    }
}

.list {
    padding-top: 1rem;
    overflow-y: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
        display: none;
    }
}

