.content {
    width: 100%;
    height: 100%;
    background-color: #82afaf;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 15rem;
    height: 30rem;
    border-radius: 1rem;

    &:nth-child(2) {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}