.content {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.menu {
    background-color: #e3d7d7;
    min-width: 20rem;
    height: 100%;
}

.list-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searching {
    width: 70rem;
    height: 7rem;
    background-color: coral;
    margin-bottom: 3rem;
}

.list {
    overflow-y: scroll;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}

