.content {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    box-sizing: border-box;
}

.flat {
    width: 100%;
    height: 100%;
}

.photos {
    margin: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 1rem;
    height: 10rem;
    box-shadow: 0 0 10px #c5c5c5;
}

.buttons {
    margin: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: right;

    button {
        color: #665bf0;
        border: 2px solid #665bf0;
        background-color: transparent;
        border-radius: 1rem;
        height: 3rem;
        width: 15rem;
    }

    button:nth-child(2) {
        color: white;
        background-color: #665BF0FF;
        width: 7rem;
        margin-left: 1rem;
    }
}

.flat-metadata {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px #c5c5c5;
    box-sizing: border-box;
    margin: 2rem;
}

.header-one {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comments {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px #c5c5c5;
    box-sizing: border-box;
    margin: 2rem;

    .chat {
        overflow-x: hidden;
        overflow-y: scroll;
        border-radius: 1rem;
        width: 100%;
        height: 10rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .chat-overflow {

        }
    }
}

.users-block {
    padding: 2rem;
    box-sizing: border-box;

    .users {
        box-sizing: border-box;
        border-radius: 1rem;
        box-shadow: 0 0 10px #c5c5c5;
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;

        .user {
            height: 4rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            img {
                margin-right: 1rem;
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .owner {
        border-radius: 1rem;
        box-shadow: 0 0 10px #c5c5c5;
        padding: 1rem;
        display: flex;
        align-items: center;

        img {
            margin-right: 1rem;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
        }
    }
}