<div class="content">
    <div class="menu">
        <button class="back" (click)="onBackClick()">
            <h2 style="font-weight: normal;">Back</h2>
        </button>
        <img [src]="(user$ | async)?.avatar" alt="">
        <h2>{{(user$ | async)?.name}}</h2>
    </div>


    <div class="flat">
        <div class="photos">
            <img *ngFor="let photo of (flat$ | async)?.downloadedPhotos"
                 [src]="photo"
                 alt="Photo">
        </div>
        <div class="buttons">
            <button (click)="intrested()"><h2>I'm interested</h2></button>
            <button><h2>Send</h2></button>
        </div>
        <div class="flat-metadata" *ngIf="(flat$ | async)">
            <div class="header-one">
                <h1>{{(flat$ | async)?.name}}</h1>
                <h1>{{(flat$ | async)?.cost | currency: '$'}}</h1>
            </div>
            <h2 style="margin-bottom: 1rem">Adress: {{(flat$ | async)?.area}}</h2>
            <h3>{{(flat$ | async)?.description}}</h3>
            <h3 *ngIf="(flat$ | async)?.externalUrl" style="color: violet">Description on the <a href="{{(flat$ | async)?.externalUrl}}">3d-pary site</a></h3>
        </div>
        <div class="comments">
            <div class="chat">
                <div class="chat-overflow">
                    <div
                        class="chat-message"
                        *ngFor="let comment of (flat$ | async)?.comments"
                        [ngClass]="comment?.user?.id === '1' ? 'chat-message-left' : 'chat-message-right'">
                        <img [src]="comment?.user?.avatar" alt="">
                        <div>
                            <h4>{{comment.user.name}}</h4>
                            <h2 style="font-weight: normal">{{comment.content}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" [(ngModel)]="content">
            <button (click)="onSendClick()">Send</button>
        </div>
    </div>


    <div class="users-block">
        <h1 style="text-align: center;">Interested</h1>
        <div class="users">
            <div
                class="user"
                *ngFor="let user of (flat$ | async)?.interestedUsers"
                (click)="onUserClick(user.id)">
                <img [src]="user.avatar" alt="Avatar">
                <h2>{{user?.name}}</h2>
            </div>
        </div>
        <h1 style="text-align: center">Owner</h1>
        <div class="owner">
            <img
                [src]="(flat$ | async)?.owner?.avatar"
                alt="Avatar">
            <h2>{{(flat$ | async)?.owner?.name}}</h2>
        </div>
    </div>
</div>