.content {
    width: 25rem;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.registration-text {
    text-align: center;
}
