@use '../../../styles';

.content {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.registration-text {
    text-align: center;
}

.photo-in-column {
    transition: .5s ease-in-out;
    flex-direction: column;
}

.photo-in-row {
    transition: .5s ease-in-out;
    flex-direction: row;
}

.photo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .file {
        display: none;
    }

    .user-photo {
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
        padding: 1rem 0;
    }

    .label-fixed {
        transition: .5s ease-in-out;
        position: fixed;
    }

    .label-relative {
        transition: .5s ease-in-out;
        margin-left: 2rem;
        position: relative;
    }

    label {
        background-color: rgba(108, 97, 255, 0.51);
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            @extend .primary-background-color;
        }
    }
}

.email, .name, .age, .sex, .country, .languages, .password, .description {
    margin-bottom: 1rem;
}

input, select, textarea {
    @extend .input-global;
}

