<div class="content">
    <h1 class="registration-text">Registration</h1>
    <div class="photo">
        <img src="./assets/user-mock.jpg" class="user-photo" alt="your photo">
        <input style="width: 22rem; horiz-align: center" class="file" type="file" name="file">
    </div>
    <input
        class="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="newUser.email">
    <input
        class="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="newUser.password">
    <input
        class="name"
        type="text"
        placeholder="Name"
        [(ngModel)]="newUser.name">
    <input
        class="age"
        type="number"
        placeholder="Age"
        [(ngModel)]="newUser.age">
    <select class="sex" [(ngModel)]="newUser.isWoman">
        <option [value]="null">Select sex</option>
        <option [value]="true">Woman</option>
        <option [value]="false">Man</option>
    </select>
    <select class="country" [(ngModel)]="newUser.country">
        <option value="">Select country</option>
        <option *ngFor="let sos of countries" [value]="sos">{{sos}}</option>
    </select>
    <input
        class="languages"
        type="text"
        placeholder="Type languages by comma"
        [ngModel]="newUser.languages"
        (ngModelChange)="inputLanguages($event)">
    <textarea
        placeholder="Description"
        class="description"
        [ngModel]="newUser.description"
        (ngModelChange)="descriptionshanged($event)">
    </textarea>
    <button class="registration" (click)="registration()">
        <h3>Les't registration</h3>
    </button>
</div>
