<div class="content">
    <div class="photo">
        <img src="./assets/user-mock.jpg" class="user-photo" alt="your photo">
        <input class="file" type="file" name="file">
    </div>
    <h2 class="registration-text">Registration</h2>
    <input
        class="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="newUser.email"
        (ngModelChange)="nameChanged($event)">
    <input
        class="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="newUser.password">
    <input
        class="name"
        type="text"
        placeholder="Name"
        [(ngModel)]="newUser.name">
    <input
        class="age"
        type="number"
        placeholder="Age"
        [(ngModel)]="newUser.age">
    <select class="sex" [(ngModel)]="newUser.isWoman">
        <option value="">Select sex</option>
        <option [value]="true">Women</option>
        <option [value]="false">Man</option>
    </select>
    <select class="country" [(ngModel)]="newUser.country">
        <option value="">Select</option>
        <option *ngFor="let sos of aboba" [value]="sos">{{sos}}</option>
    </select>
    <input class="languages" type="text" placeholder="Languages">
    <textarea style="margin-bottom: 1rem"></textarea>
    <button class="registration">
        <h3>Lest registration in this sheet</h3>
    </button>
</div>
