<div class="content">
    <h1 class="registration-text primary-color">Registration</h1>
    <div class="photo" [ngClass]="imagePath ? 'photo-in-row' : 'photo-in-column'">
        <img [src]="imagePath || './assets/user-mock.jpg'" class="user-photo" alt="your photo">
        <input
            class="file"
            type="file"
            id="file"
            (change)="picPhoto($event)">
        <label [ngClass]="imagePath ? 'label-relative' : 'label-fixed'" for="file" class="button-global-purple">
            <h3>Pick an avatar</h3>
        </label>
    </div>
    <input
        class="email"
        type="text"
        placeholder="Email"
        [(ngModel)]="newUser.email">
    <input
        class="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="newUser.password">
    <input
        class="name"
        type="text"
        placeholder="Name"
        [(ngModel)]="newUser.name">
    <input
        class="age"
        type="number"
        placeholder="Age"
        [(ngModel)]="newUser.age">
    <select class="sex" [(ngModel)]="newUser.isWoman">
        <option [value]="null">Select sex</option>
        <option [value]="true">Woman</option>
        <option [value]="false">Man</option>
    </select>
    <select class="country" [(ngModel)]="newUser.country">
        <option value="">Select country</option>
        <option *ngFor="let sos of countries" [value]="sos">{{sos}}</option>
    </select>
    <input
        class="languages"
        type="text"
        placeholder="Type languages by comma"
        [ngModel]="newUser.languages"
        (ngModelChange)="inputLanguages($event)">
    <textarea
        placeholder="Description"
        class="description"
        [(ngModel)]="newUser.description">
    </textarea>
    <button class="button-global-purple" (click)="registration()">
        <h3>Les't registration</h3>
    </button>
</div>
