<div class="content">
    <div class="menu">

    </div>
    <div class="chat-content">
        <div class="users">
            <div
                class="user"
                *ngFor="let user of (chat$ | async)?.users">
                <img [src]="user.avatar" alt="Avatar">
                <h3>{{user.name}}</h3>
            </div>
        </div>
        <div class="chat">
            <div class="chat-messages-box">
                <div class="messages">
                    <div class="message" *ngFor="let message of (chat$ | async)?.messages">
                        <img [src]="message.sender.avatar" alt="">
                        <div>
                            <h3>{{message.sender.name}}</h3>
                            <h2>{{message.content}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message-area">
                <textarea [(ngModel)]="message" placeholder="Type the message">                    
                </textarea>
                <button class="send" (click)="onClickSend()"><h2>Send</h2></button>
            </div>
        </div>
    </div>
</div>
