.content {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    box-sizing: border-box;
}

.menu {
    color: black;
    background-color: #c2c2c2;
}

.chat-content {
    box-sizing: border-box;
    padding: 3rem;
    width: 100%;
}

.users {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px #c5c5c5;

    div.user {
        padding: 0 0.5rem;
        border-radius: 2rem;
        border: 0.5px solid #e3e3e3;
        margin: 0.5rem;
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            margin-right: 0.5rem;
            width: 3rem;
            height: 3rem;
        }
    }
}

.chat {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #c5c5c5;

    .chat-messages-box {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        .messages {
            width: 100%;
            display: flex;
            flex-direction: column;

            .message {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    .message-area {
        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;

        textarea {
            background-color: #fafafa;
            width: 100%;
            font-size: 24px;
            border: none;
            border-bottom: 1px solid #c2c2c2;
        }

        button.send {
            background-color: #665bf0;
            color: white;
            border: none;
            width: 10rem;
            border-radius: 1rem;
            margin-left: 1rem;
        }
    }


}