@use '../../../styles';
@use '../../../colors';

.content {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    box-sizing: border-box;
}

.chat-content {
    background-color: colors.$primary-main;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
}

.users {
    @extend .block;
    background-color: colors.$white;
    padding: 0.5rem;
    display: flex;
    margin-bottom: 2rem;

    div.user {
        padding: 0 0.5rem;
        border-radius: 2rem;
        margin: 0.5rem;
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            margin-right: 0.5rem;
            width: 3rem;
            height: 3rem;
        }
    }
}

.chat {
    background-color: colors.$white;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    .chat-messages-box {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;

        .messages {
            width: 100%;
            display: flex;
            flex-direction: column;

            .message {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;

                img {
                    margin-right: 1rem;
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    .message-area {
        margin-top: 1rem;
        width: 100%;
        display: grid;
        grid-template-columns: 12fr 1fr;

        button.send {
            @extend .button-global-purple;
            height: 100%;
            width: 10rem;
            margin-left: 1rem;
        }
    }


}