<div class="content">
    <h1 class="header">Co-living Crew</h1>
    <input
        class="login"
        type="text"
        placeholder="login"
        [(ngModel)]="login">
    <input
        class="password"
        type="password"
        placeholder="password"
        [(ngModel)]="password">
    <button class="login" (click)="doLogin()">
        <h2>Login</h2>
    </button>
    <h3 class="or-text">or</h3>
    <button class="registration" (click)="redirectToRegistration()">
        <h2>Registration</h2>
    </button>
</div>
