<div class="content">
    <app-popups *ngIf="isUserLoading">
        <app-popup-loading></app-popup-loading>
    </app-popups>
    <app-popups *ngIf="userError">
        <app-popup-user-error [error]="userError" (onOkClick)="onOkClick()"></app-popup-user-error>
    </app-popups>
    <h1 class="primary-color header">Co-living Crew</h1>
    <input
        class="input-global"
        type="text"
        placeholder="login"
        [(ngModel)]="login">
    <input
        class="input-global"
        type="password"
        placeholder="password"
        [(ngModel)]="password">
    <button class="button-global-purple" (click)="doLogin()">
        <h2>Login</h2>
    </button>
    <button class="button-global-white registration" (click)="redirectToRegistration()">
        <h2>Registration</h2>
    </button>
</div>
