@use '../../../../colors';

.content {
    width: 25rem;
    height: auto;
    margin: 0 1rem 1rem 1rem;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: colors.$primary-main;
    background-color: colors.$secondary-main;
    transition: .2s ease-in-out;

    &:hover {
        background-color: colors.$secondary-light;

        &:active {
            background-color: colors.$secondary-dark;
        }
    }
}

img {
    height: 16rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.flat-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

