@use '../../../../colors';

.content {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .back {
        width: 100%;
    }
}
