.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    button {
        border: 2px solid #000af9;
        border-radius: 1rem;
        background-color: #b9b5ff;
        width: 70%;
    }
}
